.circle{
  fill: rgba(244,164,96, 0.6);
  stroke: gray;
  stroke-width: 0.7;
}
.land {
  fill: rgba(205,183,181, 0.3);
}

#cells.voronoi path.cell {
  stroke: brown;
}

.country_borders {
  fill: none;  
  stroke: white;
}

.voronoi {
  fill: none;
  stroke: gray; 
  stroke-opacity: 0.1;
  pointer-events: all;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}
body {
    background: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.country-arc {
  fill: black;
}
.country:hover .country-arc {
  stroke: rgba(247, 148, 32, 0.9);
  fill: none;
  stroke-width: 1.5px;
}

.country-cell {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.1;
  pointer-events: all;
}

.country:hover .country-link{
  stroke: #f00;
}

/*code from: https://codemyviews.com/blog/inner-shadows-in-css-images-text-and-beyond*/
#country-text {
  font-size: 70px;
  font-weight: bold;
  background-color: #8B7765;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
#subcountry-text {
  color: #8B7765;
  font-size: 20px;
  background: rgba(205,183,181, 0.1);
}

/*https://www.sanwebe.com/css3-button-generator*/
#year button {
    display: inline-block;
    border:1px solid #AFA2A1;
    color: #78663D;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Verdana;
    width: auto;
    height: auto;
    font-size: 9px;
    padding: 1px 5px;
    box-shadow: 0 -1px 0 0 #E2D6D5,inset 0 -1px 0 0 #efb667,inset 0 0 0 1px #efb667,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: 0 -1px 0 0 #E2D6D5,inset 0 -1px 0 0 #efb667,inset 0 0 0 1px #efb667,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: 0 -1px 0 0 #E2D6D5,inset 0 -1px 0 0 #efb667,inset 0 0 0 1px #efb667,0 2px 4px 0 #D4D4D4;
    background-image: linear-gradient(to top, #CDB7B7, #CDBDBB);
    background-color: #CDB7B7;
   }

   #year button:hover, #year button:active{
    border:1px solid #967D09;
    color: #705D07;
    box-shadow: 0 1px 0 0 #efb667,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: 0 1px 0 0 #efb667,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: 0 1px 0 0 #efb667,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    background-color: #EFB667;
   }

   /*Slider*/
   .ticks {
    font: 10px sans-serif;
  }
  
  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }
  
  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }
  
  .track-inset {
    stroke: #ddd;
    stroke-width: 8px;
  }
  
  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }
  
  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }
  