.slider {
  margin: auto;
}

.circle {
  fill: rgba(245, 151, 75, 0.6);
  stroke: gray;
  stroke-width: 0.8;
}
.land {
  fill: rgba(205,183,181, 0.3);
}

.country_borders {
  fill: none;  
  stroke: white;
}

.voronoi {
  fill: none;
  stroke: gray; 
  stroke-opacity: 0.1;
  pointer-events: all;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

body {
    background: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 1125;
    height: auto;
}

.country:hover .country-arc {
  stroke: rgba(247, 148, 32, 0.9) !important;
  fill: none;
  stroke-width: 1.5px;
}

/*code from: https://codemyviews.com/blog/inner-shadows-in-css-images-text-and-beyond*/
#country-text {
  font-size: 45px;
  font-weight: bold;
  background-color: #8B7765;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
h2 {
 /* color: #8B7765;*/
  color: rgb(216, 119, 40);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: rgba(205,183,181, 0.1);
}


 /*Slider*/
   .ticks {
    font: 8px sans-serif;
  }
  
  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }
  
  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }
  
  .track-inset {
    stroke: #ddd;
    stroke-width: 8px;
  }
  
  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }
  
  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }

  #explanation {
    text-align: justify;
  }

/*  https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
.fa {
    padding: 20px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

#footer-social {
  display: inline-block;
  width: 100%;
  background-color:  rgb(39, 37, 37);
}

h4 {
  color: rgb(219, 111, 68);  
}
a {
  text-align: center;
  text-decoration: none;
  color: rgb(219, 111, 68);
}